/* styles.css */

/* General Reset */

  body {
    background: linear-gradient(to bottom right, #23ae93 0, #004482 100%);
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue, sans-serif;
    color: white;
    -webkit-font-smoothing: antialiased;
    padding: 0 25px;
    box-sizing: border-box;
    overflow-x: hidden;
    line-height: 1.5;
    min-height: 100vh
}
  
  /* Navbar Styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom right, #23ae93 0, #004482 100%);
    padding: 10px 20px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  /* Logo Styling */
  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  
  /* Dropdown Styles */
  .dropdown {
    position: relative;
  }
  
  .dropbtn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .dropbtn:hover {
    background-color: #0056b3;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0; /* Align the dropdown to the right */
  }
  
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Content Section */
  .content {
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  .content img {
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }













  